@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Playfair+Display:wght@800&display=swap");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  transition: all 0.3s ease;
  font-family: var(--font-body);
  padding-bottom: 5rem;
}

:root {
  --card-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  --font-head: "Playfair Display";
  --font-body: "Dosis";
  --font-subtitle: "Dosis";
  --base-height-margin: 3rem;
}

main {
  padding: 1rem;
}

h1 {
  font-family: var(--font-head);
}
